<%= render 'shared/navbar' %>

<div class="container">
    <% if @project.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@project.errors.count, "error") %>
                        prohibited this user from being saved:
            </h2>
            <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% else %>
        <h2>Saved successfully</h2>
    <% end %>
</div>

